*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background: #daa;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.titulo{
    margin: auto;
    width: 90%;
    height: auto;
    padding: 20px;
    background-color: sandybrown;
}
.caja-blog{
    margin: auto;
    width: 80%;
    height: auto;
    padding: 20px;
    background: lemonchiffon;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}